p,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4 .titulos {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #DEF8E4;
    justify-content: center;
    align-items: center;
}

section {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 75px 0 75px;
}

.acerca-de {
    align-items: center;
    justify-content: center;
    background: linear-gradient(#DEF8E4,#4AD66D);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 50px;
}

.img-acerca-de {
    width: 50vw;
    padding: 10px;
}

.parte-arriba {
    padding-top: 30px;
}

.parte-abajo {
    padding-bottom: 30px;
    padding-top: 15px;
}

.parte-medio {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-img {
    padding: 30px;
}

footer {
    background-color: #10451D;
    position: relative;
    padding: 20px 0 10px 0;
    left: 0%;
    bottom: 0px;
    width: 100%;
    color: white;       
}

.centrar {
    margin-left: auto;
    margin-right: auto;
}

footer>p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

section>p {
    font-weight: 900;
    font-size: large;
    text-align: justify;
    text-justify: auto;
}


.imagen-footer {
    padding-left: 15px;
    padding-bottom: 15px;
    width: 290px;
}

.fondo-barra, .cartitas {
    background-color: #92E6A7;
}

.letra-boton {
    color: white;
}

.boton {
    background-color: #10451D;
}

#navbarNav {
    flex-wrap: nowrap;
}